<form class="modal-dialog" role="document" novalidate>
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">App Title</h5>
    </div>

    <div class="modal-body">
      <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
      <p>Description Lorem Ip sum solor dir apmet  Lorem Ip sum solor dir apmet  Lorem Ip sum solor dir apmet  Lorem Ip sum solor dir apmet  Lorem Ip sum solor dir apmet  Lorem Ip sum solor dir apmet  Lorem Ip sum solor dir apmet </p>
      <table class="table table-condensed">
        <tr>
          <td>Publisher</td><td>NXT-ASDF-ASDF-ASDF-ASDFF</td>
        </tr><tr>
          <td>Transaction</td><td>792834792837234</td>
        </tr><tr>
          <td>Date published</td><td>Oct 45 1922</td>
        </tr>
      </table>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="appToEdit.showInMenu"> Show in "My Apps" menu
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-default" ng-click="updateEditedApp()">
        Save
      </button>
      <button type="button" class="btn btn-negative" ng-click="uninstallApp()">
        Uninstall
      </button>
    </div>

  </div><!-- /.modal-content -->

</form><!-- /.modal-dialog -->
