

  <div class="col-md-4">

<ul class="list-group">

  <li class="list-group-header">
    <h5>Installed</h5>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
    <div>
      <button class="btn btn-default pull-right">
        <span class="icon icon-home"></span>
      </button>

      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. </p>
<!--      <button type="button" class="btn btn-mini btn-default">
        <span class="icon icon-window icon-text"></span>
        Open
      </button>
      <button type="button" class="btn btn-mini btn-default">
        <span class="icon icon-info-circled icon-text"></span>
        Details
      </button>
      <button type="button" class="btn btn-mini btn-default">
        <span class="icon icon-cancel-circled icon-text"></span>
        Remove
      </button>-->
    </div>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
    <div class="media-body">
      <button class="btn btn-default pull-right">
        <span class="icon icon-home"></span>
      </button>
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
</ul>

  </div>
  <div class="col-md-8">


    <ul class="list-group">
      <li class="list-group-header">
        <input class="form-control" type="text" placeholder="Search apps" />
      </li>
      <li class="list-group-header">
        <h5>Results for XYZ...</h5>
        <a href>Clear results</a>
      </li>
      <li class="list-group-item">
        <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
        <div>
          <div class="btn-group pull-right">
            <button class="btn btn-default">
              <span class="icon icon-home"></span>
            </button>
</div>
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li class="list-group-item">
        <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>

      <li class="list-group-header">
        <h5>Featured</h5>
      </li>
      <li class="list-group-item">
        <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
          <!--<button type="button" class="btn btn-mini btn-default">
            <span class="icon icon-download icon-text"></span>
            Install
          </button>
          <button type="button" class="btn btn-mini btn-default">
            <span class="icon icon-info-circled icon-text"></span>
            Details
          </button>-->
        </div>
      </li>
      <li class="list-group-item">
        <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar.jpg" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
    </ul>




  </div>
