<div class="col-md-4">

  <ul class="list-group">

    <li class="list-group-header">
      <h5>Installed</h5>
    </li>

    <li class="list-group-item"
        ng-repeat="app in installedApps"
        ng-click="launchApp(app.name)">
      <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
      <div>
        <button class="btn btn-default pull-right"
                ng-click="setAppToEdit($event, app)">
          <span class="icon icon-cog"></span>
        </button>
        <strong>{{ app.name }}</strong>
        <p>{{ app.description }}</p>
      </div>
    </li>
  </ul>

</div>
<div class="col-md-8">

  <ul class="list-group">
    <form class="list-group-header" ng-submit="submitSearchForm()">
      <input class="form-control" type="text" placeholder="Search apps"
             ng-model="forms.search" />
    </form>
    <a href class="pull-right"
       ng-click="clearSearchResults()"
       ng-show="searchResults.package.name || searchResults.similarPackages.length > 0">
        Clear results
    </a>
  </ul>

  <ul class="list-group">
    <li class="list-group-header"
        ng-show="!searchResults.package.name && searchResults.query">
      <h5>No results for &quot;{{ searchResults.query }}&quot;</h5>
    </li>
    <li class="list-group-header" ng-show="searchResults.package.name">
      <h5>&quot;{{ searchResults.package.name }}&quot;</h5>
    </li>
    <li class="list-group-item" data-toggle="modal" data-target="#modalDetails"
        ng-show="searchResults.package.name"
        ng-click="setAppToInstall(searchResults.package)">
      <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
      <div>
        <strong>{{ searchResults.package.name }}</strong> {{ searchResults.package.version }}
        <p>{{ searchResults.package.description }}</p>
      </div>
    </li>
  </ul>

    <ul class="list-group">
    <li class="list-group-header"
        ng-show="searchResults.similarPackages.length > 0">
      <h5>Similar packages ({{ searchResults.similarPackages.length }})</h5>
    </li>

    <li class="list-group-item" data-toggle="modal" data-target="#modalDetails"
        ng-repeat="app in searchResults.similarPackages"
        ng-click="setAppToInstall(app)">
      <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
      <div>
        <strong>{{ app.name }}</strong> {{ app.version }}
        <p>{{ app.description }}</p>
      </div>
    </li>
  </ul>
  <ul class="list-group">
      <li class="list-group-header">
        <h5>Featured</h5>
      </li>
      <li class="list-group-item" data-toggle="modal" data-target="#modalDetails"
          ng-repeat="app in featuredApps"
          ng-click="setAppToInstall(app)">
        <img class="img-circle media-object pull-left" src="http://photonkit.com/assets/img/avatar2.png" width="32" height="32">
        <div>
          <strong>{{ app.name }}</strong> {{ app.version }}
          <p>{{ app.description }}</p>
        </div>
      </li>
    </ul>
  </div>
